@import url('https://fonts.googleapis.com/css2?family=DM+Mono:wght@300;400;500&display=swap');

:root {
    
    --filter-inverted: invert(0);
    --boxshadow: #dadada;
}

body {
    width: 80%;
    margin: 0 auto;
    font-family: Arial, Comic Sans MS Arial narrow, Baskerville, serif;
}

#header {
    text-align: left;
}

#content {
    width: 50%;
    margin: 0 auto;
}

h2 {
    font-weight: 400;
    text-align: center;
}

a {
    color: black;
}

#pageProfile {
    display: flex;
    flex-direction: row;
}

#profileText {
    font-size: 20px;
}

#displayImg {
    height: 12em;
    border-radius: 60%;
    margin: 1em;
}
#amazonLogo {
    height: 20px;
    border-radius: 50%;
    margin: 5px
}
#experience h4 {
    margin: 0px;
    color: gray;
}

#experience p {
    font-size: 90%;
}

#experience h3 {
    margin: 0px;
}

.section {
    margin: 5vh;
}
.section h2 {
    font-weight: 700;
}

#skills {
    text-align: center;
}

#skills p {
    width: fit-content;
    background-color: #eee;
    border-radius: 5px; 
    padding: 4px 10px;
    margin: 2px;
    display: inline;
    line-height: 2.5em;
    font-family: monospace;
}

#sidebar {
    height: 100%;
    width: 10vw;
    display: inline;
    float: right;
}